@import 'tailwindcss';
@import 'tw-animate-css';

@font-face {
    font-family: 'Lexend Deca';
    src: url('./fonts/LexendDeca.ttf');
}

body {
    font-family: 'Lexend Deca', sans-serif;
}

@custom-variant dark (&:is(.dark *));

.pixelated-image {
    image-rendering: pixelated;
}

h2 {
    @apply font-bold text-lg;
}
