@import 'tailwindcss';
@import 'tw-animate-css';

@font-face {
    font-family: 'Lexend Deca';
    src: url('./fonts/LexendDeca.ttf');
}

body {
    font-family: 'Lexend Deca', sans-serif;
}

@custom-variant dark (&:is(.dark *));

.pixelated-image {
    image-rendering: pixelated;
}

h2 {
    @apply text-lg;
}

@theme inline {
    --font-sans: 'Inter', sans-serif;
    --font-mono: 'Fira Code', monospace;
    --font-serif: 'Lora', serif;
    --radius: 0.3rem;
    --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
    --tracking-tight: calc(var(--tracking-normal) - 0.025em);
    --tracking-wide: calc(var(--tracking-normal) + 0.025em);
    --tracking-wider: calc(var(--tracking-normal) + 0.05em);
    --tracking-widest: calc(var(--tracking-normal) + 0.1em);
    --tracking-normal: var(--tracking-normal);
    --shadow-2xl: var(--shadow-2xl);
    --shadow-xl: var(--shadow-xl);
    --shadow-lg: var(--shadow-lg);
    --shadow-md: var(--shadow-md);
    --shadow: var(--shadow);
    --shadow-sm: var(--shadow-sm);
    --shadow-xs: var(--shadow-xs);
    --shadow-2xs: var(--shadow-2xs);
    --spacing: var(--spacing);
    --letter-spacing: var(--letter-spacing);
    --shadow-offset-y: var(--shadow-offset-y);
    --shadow-offset-x: var(--shadow-offset-x);
    --shadow-spread: var(--shadow-spread);
    --shadow-blur: var(--shadow-blur);
    --shadow-opacity: var(--shadow-opacity);
    --color-shadow-color: var(--shadow-color);
    --color-sidebar-ring: var(--sidebar-ring);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar: var(--sidebar);
    --color-chart-5: var(--chart-5);
    --color-chart-4: var(--chart-4);
    --color-chart-3: var(--chart-3);
    --color-chart-2: var(--chart-2);
    --color-chart-1: var(--chart-1);
    --color-ring: var(--ring);
    --color-input: var(--input);
    --color-border: var(--border);
    --color-destructive-foreground: var(--destructive-foreground);
    --color-destructive: var(--destructive);
    --color-accent-foreground: var(--accent-foreground);
    --color-accent: var(--accent);
    --color-muted-foreground: var(--muted-foreground);
    --color-muted: var(--muted);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-secondary: var(--secondary);
    --color-primary-foreground: var(--primary-foreground);
    --color-primary: var(--primary);
    --color-popover-foreground: var(--popover-foreground);
    --color-popover: var(--popover);
    --color-card-foreground: var(--card-foreground);
    --color-card: var(--card);
    --color-foreground: var(--foreground);
    --color-background: var(--background);
    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);
}

:root {
    --background: oklch(1 0 0);
    --foreground: oklch(0.2104 0.0094 264.3508);
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.2104 0.0094 264.3508);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.2104 0.0094 264.3508);
    --primary: oklch(0.5091 0.0041 247.9058);
    --primary-foreground: oklch(1 0 0);
    --secondary: oklch(0.9076 0.0011 247.8328);
    --secondary-foreground: oklch(0.3205 0.0023 247.8967);
    --muted: oklch(0.9618 0.0004 247.824);
    --muted-foreground: oklch(0.5091 0.0041 247.9058);
    --accent: oklch(0.9076 0.0011 247.8328);
    --accent-foreground: oklch(0.3205 0.0023 247.8967);
    --destructive: oklch(0.6356 0.2082 25.3782);
    --destructive-foreground: oklch(1 0 0);
    --border: oklch(0.8447 0.0018 247.8433);
    --input: oklch(0.9232 0.0009 247.8303);
    --ring: oklch(0.5091 0.0041 247.9058);
    --chart-1: oklch(0.7119 0.0129 286.0684);
    --chart-2: oklch(0.5808 0.0193 285.7823);
    --chart-3: oklch(0.4529 0.0144 285.8089);
    --chart-4: oklch(0.3149 0.0091 285.8658);
    --chart-5: oklch(0.1589 0.0028 286.0738);
    --radius: 0.3rem;
    --sidebar: oklch(0.2622 0.0133 264.3133);
    --sidebar-foreground: oklch(1 0 0);
    --sidebar-primary: oklch(0.4052 0.024 264.2609);
    --sidebar-primary-foreground: oklch(1 0 0);
    --sidebar-accent: oklch(0.3592 0.0206 264.273);
    --sidebar-accent-foreground: oklch(1 0 0);
    --sidebar-border: oklch(0.3117 0.017 264.2895);
    --sidebar-ring: oklch(0.5782 0.0365 264.2338);
    --font-sans: 'Inter', sans-serif;
    --font-serif: 'Lora', serif;
    --font-mono: 'Fira Code', monospace;
    --shadow-color: hsl(220 13% 10%);
    --shadow-opacity: 0.1;
    --shadow-blur: 8px;
    --shadow-spread: -2px;
    --shadow-offset-x: 0px;
    --shadow-offset-y: 2px;
    --letter-spacing: normal;
    --spacing: 0.25rem;
    --shadow-2xs: 0px 2px 8px -2px hsl(220 13% 10% / 0.05);
    --shadow-xs: 0px 2px 8px -2px hsl(220 13% 10% / 0.05);
    --shadow-sm: 0px 2px 8px -2px hsl(220 13% 10% / 0.1), 0px 1px 2px -3px hsl(220 13% 10% / 0.1);
    --shadow: 0px 2px 8px -2px hsl(220 13% 10% / 0.1), 0px 1px 2px -3px hsl(220 13% 10% / 0.1);
    --shadow-md: 0px 2px 8px -2px hsl(220 13% 10% / 0.1), 0px 2px 4px -3px hsl(220 13% 10% / 0.1);
    --shadow-lg: 0px 2px 8px -2px hsl(220 13% 10% / 0.1), 0px 4px 6px -3px hsl(220 13% 10% / 0.1);
    --shadow-xl: 0px 2px 8px -2px hsl(220 13% 10% / 0.1), 0px 8px 10px -3px hsl(220 13% 10% / 0.1);
    --shadow-2xl: 0px 2px 8px -2px hsl(220 13% 10% / 0.25);
    --tracking-normal: normal;
}

.dark {
    --background: oklch(0.2104 0.0094 264.3508);
    --foreground: oklch(0.9618 0.0004 247.824);
    --card: oklch(0.2104 0.0094 264.3508);
    --card-foreground: oklch(0.9618 0.0004 247.824);
    --popover: oklch(0.2104 0.0094 264.3508);
    --popover-foreground: oklch(0.9618 0.0004 247.824);
    --primary: oklch(0.6819 0.0038 247.88);
    --primary-foreground: oklch(0.2104 0.0094 264.3508);
    --secondary: oklch(0.3205 0.0023 247.8967);
    --secondary-foreground: oklch(0.9232 0.0009 247.8303);
    --muted: oklch(0.2692 0.0018 247.8917);
    --muted-foreground: oklch(0.6819 0.0038 247.88);
    --accent: oklch(0.3205 0.0023 247.8967);
    --accent-foreground: oklch(0.9232 0.0009 247.8303);
    --destructive: oklch(0.6356 0.2082 25.3782);
    --destructive-foreground: oklch(0.2104 0.0094 264.3508);
    --border: oklch(0.4175 0.0032 247.9026);
    --input: oklch(0.3205 0.0023 247.8967);
    --ring: oklch(0.6819 0.0038 247.88);
    --chart-1: oklch(0.4529 0.0144 285.8089);
    --chart-2: oklch(0.5808 0.0193 285.7823);
    --chart-3: oklch(0.7119 0.0129 286.0684);
    --chart-4: oklch(0.8372 0.0071 286.2455);
    --chart-5: oklch(0.958 0.0018 286.366);
    --radius: 0.3rem;
    --sidebar: oklch(0.155 0.0051 264.4173);
    --sidebar-foreground: oklch(0.9618 0.0004 247.824);
    --sidebar-primary: oklch(0.2622 0.0133 264.3133);
    --sidebar-primary-foreground: oklch(0.9618 0.0004 247.824);
    --sidebar-accent: oklch(0.2104 0.0094 264.3508);
    --sidebar-accent-foreground: oklch(0.9618 0.0004 247.824);
    --sidebar-border: oklch(0.2315 0.011 264.3336);
    --sidebar-ring: oklch(0.4936 0.0304 264.2445);
    --font-sans: 'Inter', sans-serif;
    --font-serif: 'Lora', serif;
    --font-mono: 'Fira Code', monospace;
    --shadow-color: hsl(0 0% 0%);
    --shadow-opacity: 0.3;
    --shadow-blur: 8px;
    --shadow-spread: -2px;
    --shadow-offset-x: 0px;
    --shadow-offset-y: 2px;
    --letter-spacing: normal;
    --spacing: 0.25rem;
    --shadow-2xs: 0px 2px 8px -2px hsl(0 0% 0% / 0.15);
    --shadow-xs: 0px 2px 8px -2px hsl(0 0% 0% / 0.15);
    --shadow-sm: 0px 2px 8px -2px hsl(0 0% 0% / 0.3), 0px 1px 2px -3px hsl(0 0% 0% / 0.3);
    --shadow: 0px 2px 8px -2px hsl(0 0% 0% / 0.3), 0px 1px 2px -3px hsl(0 0% 0% / 0.3);
    --shadow-md: 0px 2px 8px -2px hsl(0 0% 0% / 0.3), 0px 2px 4px -3px hsl(0 0% 0% / 0.3);
    --shadow-lg: 0px 2px 8px -2px hsl(0 0% 0% / 0.3), 0px 4px 6px -3px hsl(0 0% 0% / 0.3);
    --shadow-xl: 0px 2px 8px -2px hsl(0 0% 0% / 0.3), 0px 8px 10px -3px hsl(0 0% 0% / 0.3);
    --shadow-2xl: 0px 2px 8px -2px hsl(0 0% 0% / 0.75);
}

@layer base {
    * {
        @apply border-border outline-ring/50;
    }
    body {
        @apply bg-background text-foreground;
        letter-spacing: var(--tracking-normal);
    }
}
